form,
input {
    margin: 10px;
}

button {
    margin: 10px;
    border-radius: 50%;
    font-family: 'Lobster', cursive;
}

html,
body {
    height: 100%;
    font-family: 'Lobster', cursive;
}

.bg {
    background-image: url("../images/Radio.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.jumbotron {
    background: transparent;
}